<h1>Edit User</h1>

<hr>

<%= form_with url: update_user_path, method: :patch, scope: :user, class: "my-form" do |f| %>
  <div class="form-group">
    <div class="field">
      <%= f.label :first_name, "First Name: " %>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name, "Last Name: " %>
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.label :email, "Email: " %>
      <%= f.email_field :email %>
    </div>
      <div class="div-<%= display_status(@user.is_pending) %>">
        <div class="field-<%= display_status(@user.is_pending) %>">
          <%= f.label :is_pending, "Is Active?" %>
          <input type="text" disabled="true" class=<%= display_status(@user.is_pending) %> value=<%= display_status(@user.is_pending) %>></input>
        </div>
        <% if @user.is_pending == true %>
          <%= link_to '<button class="btn">Approve User</button>'.html_safe, approve_user_path(@user.id), data: { turbo_method: :patch }, class: "btn" %>
         
        <% end %>
      </div>
    <div class="actions1">
      <%= f.submit "Update User" %>
      <%= link_to "Back", "/", class: "btn" %>
    </div>
  </div>
<% end %>
<hr>
<br>